DOCURAPI_DEV_MODE=1
DOCURAPI_PORT=8000
DOCURAPI_PUBLIC_BASE_URL=http://127.0.0.1:8000
DOCURAPI_INTERNAL_BASE_URL=http://127.0.0.1:8000
DOCURAPI_PAYMENT_MODE=manual_qris_whatsapp
DOCURAPI_MERCHANT_NAME=DocuRapi Merchant
DOCURAPI_ADMIN_WHATSAPP=628xxxxxxxxxx
DOCURAPI_ADMIN_APPROVAL_SECRET=ganti_dengan_token_rahasia_panjang
DOCURAPI_QRIS_STATIC_IMAGE_URL=/static/payment/qris-shopee.png
DOCURAPI_COOKIE_SECURE=0
DOCURAPI_MAX_FILE_SIZE=20971520
DOCURAPI_MAX_PAYMENT_PROOF_SIZE=5242880
DOCURAPI_PAYMENT_EXPIRY_HOURS=24
DOCURAPI_UNIQUE_CODE_MIN=101
DOCURAPI_UNIQUE_CODE_MAX=999
DOCURAPI_CORS_ORIGINS=*
DOCURAPI_PRICE_ANALYZE=7000
DOCURAPI_PRICE_FORMAT=12000
DOCURAPI_PRICE_JOURNAL=20000
DOCURAPI_RETENTION_FAILED_DAYS=7
DOCURAPI_RETENTION_UNPAID_DAYS=3
DOCURAPI_RETENTION_REJECTED_DAYS=7
DOCURAPI_RETENTION_EXPIRED_DAYS=3
DOCURAPI_RETENTION_AUDIT_LOG_DAYS=90
