POSTGRES_DB=docurapi
POSTGRES_USER=docurapi
POSTGRES_PASSWORD=ganti-dengan-password-kuat
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=docurapi
MINIO_ROOT_PASSWORD=ganti-dengan-password-kuat
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

DOCURAPI_DATABASE_URL=postgresql://docurapi:ganti-dengan-password-kuat@127.0.0.1:5432/docurapi
DOCURAPI_REDIS_URL=redis://127.0.0.1:6379/0

DOCURAPI_OBJECT_STORAGE_ENDPOINT=http://127.0.0.1:9000
DOCURAPI_OBJECT_STORAGE_BUCKET=docurapi-files
DOCURAPI_OBJECT_STORAGE_ACCESS_KEY=docurapi
DOCURAPI_OBJECT_STORAGE_SECRET_KEY=ganti-dengan-password-kuat
DOCURAPI_OBJECT_STORAGE_REGION=us-east-1
